.table-container {
   
    padding: 0 20px; 
    margin-top: 2%;
   
  }
  
  .table {
    border-collapse:separate;
  
    margin-top: 15%;
  
    
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 2px;
    
    background-color: peachpuff;
    font-size: medium;
  }
  